<div style="height: 700px">
  <h2 id="page-heading" data-cy="CitaTattoHeading">
    <span class="aqua-text" jhiTranslate="preciadoTattoApp.citaTatto.home.title">Cita Tattos</span>

    <div class="row">
      <div class="col-md-3 form-group">
        <label style="font-size: 13px" class="form-control-label aqua-text" for="field_nombre">Nombre del cliente</label>
        <input
          placeholder="Buscar Por Nombre"
          (keyup)="consultarCitaFiltro()"
          type="text"
          class="form-control"
          name="nombre"
          rarid="field_nombre"
          data-cy="nombre"
          [(ngModel)]="nombreCliente"
        />
      </div>

      <div class="col-md-1 form-group">
        <label style="font-size: 13px" class="form-control-label aqua-text" for="field_nombre">Hora</label>
        <input
          placeholder="Hora"
          (keyup)="consultarCitaFiltro()"
          type="text"
          class="form-control"
          name="hora"
          rarid="field_hora"
          data-cy="hora"
          [(ngModel)]="hora"
        />
      </div>

      <div class="col-md-2 form-group">
        <label style="font-size: 13px" class="form-control-label aqua-text" for="field_fechaFin">Consultar fechas</label>
        <input
          id="field_fechaFin"
          data-cy="fechaFin"
          type="datetime-local"
          class="form-control"
          name="fechaFin"
          [(ngModel)]="fechaTatto"
          placeholder="YYYY"
        />
      </div>

      <div class="col-md-3">
        <button style="margin-top: 45px" id="jh-create-entity" class="btn btn-dark aqua-text" (click)="consultarCitaFiltro()">
          <span> Filtrar </span>
        </button>
      </div>
    </div>

    <div class="d-flex justify-content-end">
      <button class="btn btn-dark aqua-text mr-2" (click)="generarReporte()">
        <mat-icon style="position: relative; top: 5px">picture_as_pdf</mat-icon>
        <span>Generar Reporte Mensual </span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-dark aqua-text jh-create-entity create-cita-tatto"
        [routerLink]="['/cita-tatto/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="preciadoTattoApp.citaTatto.home.createLabel"> Create a new Cita Tatto </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert-back" id="no-result" *ngIf="citaTattos?.length === 0">
    <span style="color: #000" jhiTranslate="preciadoTattoApp.citaTatto.home.notFound">No citaTattos found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="citaTattos && citaTattos.length > 0">
    <table class="table table-dark color-toggle" aria-describedby="page-heading">
      <thead>
        <tr>
          <th class="text-black" scope="col"><span jhiTranslate="preciadoTattoApp.citaTatto.idCliente">Cliente</span></th>
          <th class="text-black" scope="col"><span jhiTranslate="preciadoTattoApp.citaTatto.fechaCreacion">Fecha Creacion</span></th>
          <th class="text-black" scope="col"><span jhiTranslate="preciadoTattoApp.citaTatto.fechaCita">Fecha Cita</span></th>
          <th class="text-black" scope="col"><span jhiTranslate="preciadoTattoApp.citaTatto.hora">Hora</span></th>
          <th class="text-black" scope="col"><span>Hora Inicio</span></th>
          <th class="text-black" scope="col"><span>Hora Fin</span></th>
          <th class="text-black" scope="col"><span jhiTranslate="preciadoTattoApp.citaTatto.valorTatto">Valor Tatto</span></th>
          <th class="text-black" scope="col"><span jhiTranslate="preciadoTattoApp.citaTatto.valorPagado">Valor Pagado</span></th>
          <th class="text-black" scope="col"><span jhiTranslate="preciadoTattoApp.citaTatto.deuda">Deuda</span></th>
          <th class="text-black" scope="col"><span jhiTranslate="preciadoTattoApp.citaTatto.estado">Estado</span></th>
          <th class="text-black" scope="col"><span jhiTranslate="preciadoTattoApp.citaTatto.descripcion">Descripcion</span></th>
          <th class="text-black" scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let citaTatto of citaTattos | paginate: { itemsPerPage: 5, currentPage: pA }; trackBy: trackId" data-cy="entityTable">
          <td class="text-black">{{ citaTatto.infoCliente }}</td>
          <td class="text-black">{{ citaTatto.fechaCreacion | formatMediumDatetime }}</td>
          <td class="text-black">{{ citaTatto.fechaCita | formatMediumDatetime }}</td>
          <td class="text-black">{{ citaTatto.hora }}</td>

          <!--
             <td class="text-black">{{ citaTatto.emailCliente }}</td>
            <td class="text-black">
            <a *ngIf="citaTatto.fotoDiseno" (click)="openFile(citaTatto.fotoDiseno, citaTatto.fotoDisenoContentType)">
              <img
                [src]="'data:' + citaTatto.fotoDisenoContentType + ';base64,' + citaTatto.fotoDiseno"
                style="max-height: 30px"
                alt="citaTatto image"
              />
            </a>
            <span *ngIf="citaTatto.fotoDiseno">{{ citaTatto.fotoDisenoContentType }}, {{ byteSize(citaTatto.fotoDiseno) }}</span>
          </td> -->
          <td class="text-black">{{ citaTatto.horaInicio }}</td>
          <td class="text-black">{{ citaTatto.horaFin }}</td>
          <td class="text-black">{{ citaTatto.valorTatto }}</td>
          <td class="text-black">{{ citaTatto.valorPagado }}</td>
          <td class="text-black">{{ citaTatto.deuda }}</td>
          <td class="text-black">{{ citaTatto.estado }}</td>
          <td class="text-black">{{ citaTatto.descripcion }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/cita-tatto', citaTatto.id, 'view']"
                class="btn btn-dark aqua-text btn-sm text-black"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                *ngIf="citaTatto.deuda || citaTatto.deuda! > 0"
                type="submit"
                (click)="pasoParametroCita(citaTatto.id!)"
                class="btn btn-dark aqua-text btn-sm text-black"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Abonar</span>
              </button>

              <button
                type="submit"
                (click)="pasoParametroVerAbono(citaTatto.id!)"
                class="btn btn-dark aqua-text btn-sm text-black"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Consultar Abonos</span>
              </button>

              <button
                *ngIf="citaTatto.deuda! > 0 || citaTatto.estadoCita === 'Pendiente'"
                type="submit"
                (click)="delete(citaTatto)"
                class="btn btn-dark aqua-text btn-sm"
                data-cy="entityDeleteButton"
              >
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Cancelar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls style="text-align: center" (pageChange)="pA = $event"></pagination-controls>
  </div>
</div>
