<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="citaPerforacion">
      <h2 data-cy="citaPerforacionDetailsHeading">
        <span class="aqua-text" jhiTranslate="preciadoTattoApp.citaPerforacion.detail.title">Cita Perforacion</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="preciadoTattoApp.citaPerforacion.fechaCreacion">Fecha Creacion</span></dt>
        <dd>
          <span>{{ citaPerforacion.fechaCreacion | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="preciadoTattoApp.citaPerforacion.fechaCita">Fecha Cita</span></dt>
        <dd>
          <span>{{ citaPerforacion.fechaCita | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="preciadoTattoApp.citaPerforacion.hora">Hora</span></dt>
        <dd>
          <span>{{ citaPerforacion.hora }}</span>
        </dd>
        <dt><span jhiTranslate="preciadoTattoApp.citaPerforacion.nombreCliente">Nombre Cliente</span></dt>
        <dd>
          <span>{{ citaPerforacion.nombreCliente }}</span>
        </dd>
        <dt><span jhiTranslate="preciadoTattoApp.citaPerforacion.valorPerforacion">Valor Perforacion</span></dt>
        <dd>
          <span>{{ citaPerforacion.valorPerforacion }}</span>
        </dd>
        <dt><span jhiTranslate="preciadoTattoApp.citaPerforacion.valorPagado">Valor Pagado</span></dt>
        <dd>
          <span>{{ citaPerforacion.valorPagado }}</span>
        </dd>
        <dt><span jhiTranslate="preciadoTattoApp.citaPerforacion.valorDeuda">Valor Deuda</span></dt>
        <dd>
          <span>{{ citaPerforacion.valorDeuda }}</span>
        </dd>
        <dt><span jhiTranslate="preciadoTattoApp.citaPerforacion.estado">Estado</span></dt>
        <dd>
          <span>{{ citaPerforacion.estado }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/cita-perforacion', citaPerforacion.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
