<div class="row justify-content-center">
  <div class="col-8">
    <form style="padding: 31px" name="editForm" role="form" class="color-toggle" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-caja-ingresos-heading" data-cy="CajaIngresosCreateUpdateHeading" class="text-black">
        {{ titulo }}
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>
        <jhi-alert></jhi-alert>

        <div class="row">
          <div class="col-md-6 form-group">
            <label
              class="form-control-label text-black"
              jhiTranslate="preciadoTattoApp.cajaIngresos.valorVendidoDia"
              for="field_valorVendidoDia"
              >Valor Vendido Dia</label
            >
            <input
              readonly="true"
              type="number"
              class="form-control"
              name="valorVendidoDia"
              id="field_valorVendidoDia"
              data-cy="valorVendidoDia"
              formControlName="valorVendidoDia"
            />
          </div>

          <div class="col-md-6 form-group">
            <label
              class="form-control-label text-black"
              jhiTranslate="preciadoTattoApp.cajaIngresos.valorRegistradoDia"
              for="field_valorRegistradoDia"
              >Valor Registrado Dia</label
            >
            <input
              (keyup)="calcularDiferencia()"
              type="number"
              class="form-control"
              name="valorRegistradoDia"
              id="field_valorRegistradoDia"
              data-cy="valorRegistradoDia"
              formControlName="valorRegistradoDia"
            />
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 form-group" style="margin-left: 315px">
            <label class="form-control-label text-black" jhiTranslate="preciadoTattoApp.cajaIngresos.diferencia" for="field_diferencia"
              >Diferencia</label
            >
            <input
              readonly="true"
              type="number"
              class="form-control"
              name="diferencia"
              id="field_diferencia"
              data-cy="diferencia"
              formControlName="diferencia"
            />
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-dark aqua-text" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-dark aqua-text"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>

<ng-template #mensajeInicio>
  <div class="modal-header color-toggle">
    <h4 class="modal-title text-black">Advertencia</h4>
  </div>
  <div class="modal-body">
    <div>
      <p>
        Para crear una caja de ingresos generales, debe exisitr una venta previa <br />
        o una perforacion registrada.
      </p>
    </div>
  </div>
  <div class="modal-footer color-toggle">
    <h4 class="text-black"><span>Preciado</span> <span class="text-black">Tattoo</span></h4>
  </div>
</ng-template>
