<div class="row justify-content-center">
  <div class="col-8">
    <form style="padding: 31px" name="editForm" role="form" class="color-toggle" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-caja-ingresos-heading"
        data-cy="CajaIngresosCreateUpdateHeading"
        jhiTranslate="preciadoTattoApp.cajaIngresos.home.createOrEditLabel"
        class="text-black"
      >
        Create or edit a Caja Ingresos
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row">
          <div class="col-md-6 form-group">
            <label
              class="form-control-label text-black"
              jhiTranslate="preciadoTattoApp.cajaIngresos.valorVendidoDia"
              for="field_valorVendidoDia"
              >Valor Vendido Dia</label
            >
            <input
              type="number"
              class="form-control"
              name="valorVendidoDia"
              id="field_valorVendidoDia"
              data-cy="valorVendidoDia"
              formControlName="valorVendidoDia"
            />
          </div>

          <div class="col-md-6 form-group">
            <label
              class="form-control-label text-black"
              jhiTranslate="preciadoTattoApp.cajaIngresos.valorRegistradoDia"
              for="field_valorRegistradoDia"
              >Valor Registrado Dia</label
            >
            <input
              type="number"
              class="form-control"
              name="valorRegistradoDia"
              id="field_valorRegistradoDia"
              data-cy="valorRegistradoDia"
              formControlName="valorRegistradoDia"
            />
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 form-group" style="margin-left: 315px">
            <label class="form-control-label text-black" jhiTranslate="preciadoTattoApp.cajaIngresos.diferencia" for="field_diferencia"
              >Diferencia</label
            >
            <input
              type="number"
              class="form-control"
              name="diferencia"
              id="field_diferencia"
              data-cy="diferencia"
              formControlName="diferencia"
            />
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
