<div class="row justify-content-center">
  <div class="col-8">
    <form style="padding: 31px" name="editForm" role="form" class="color-toggle" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-cita-perforacion-heading" data-cy="CitaPerforacionCreateUpdateHeading" class="text-black">
        {{ titulo }}
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>
        <jhi-alert></jhi-alert>

        <div class="row">
          <!--
          <div class="col-md-6 form-group">
            <label
              class="form-control-label text-black"
              jhiTranslate="preciadoTattoApp.citaPerforacion.fechaCreacion"
              for="field_fechaCreacion"
              >Fecha Creacion</label
            >
            <div class="d-flex">
              <input
                id="field_fechaCreacion"
                data-cy="fechaCreacion"
                type="datetime-local"
                class="form-control"
                name="fechaCreacion"
                formControlName="fechaCreacion"
                placeholder="YYYY-MM-DD HH:mm"
              />
            </div>
            
          </div>
        -->
          <div class="col-md-6 form-group">
            <label class="form-control-label text-black" jhiTranslate="preciadoTattoApp.citaPerforacion.fechaCita" for="field_fechaCita"
              >Fecha Cita</label
            >
            <div class="d-flex">
              <input
                id="field_fechaCita"
                data-cy="fechaCita"
                type="datetime-local"
                class="form-control"
                name="fechaCita"
                formControlName="fechaCita"
                placeholder="YYYY-MM-DD HH:mm"
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 form-group">
            <label class="form-control-label text-black" jhiTranslate="preciadoTattoApp.citaPerforacion.hora" for="field_hora">Hora</label>
            <input type="text" class="form-control" name="hora" id="field_hora" data-cy="hora" formControlName="hora" />
          </div>

          <div class="col-md-6 form-group">
            <label
              class="form-control-label text-black"
              jhiTranslate="preciadoTattoApp.citaPerforacion.nombreCliente"
              for="field_nombreCliente"
              >Nombre Cliente</label
            >
            <input
              type="text"
              class="form-control"
              name="nombreCliente"
              id="field_nombreCliente"
              data-cy="nombreCliente"
              formControlName="nombreCliente"
            />
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 form-group">
            <label
              class="form-control-label text-black"
              jhiTranslate="preciadoTattoApp.citaPerforacion.valorPerforacion"
              for="field_valorPerforacion"
              >Valor Perforacion</label
            >
            <input
              (keyup)="calcularValores()"
              type="number"
              class="form-control"
              name="valorPerforacion"
              id="field_valorPerforacion"
              data-cy="valorPerforacion"
              formControlName="valorPerforacion"
            />
          </div>

          <div class="col-md-6 form-group">
            <label class="form-control-label text-black" jhiTranslate="preciadoTattoApp.citaPerforacion.valorPagado" for="field_valorPagado"
              >Valor Pagado</label
            >
            <input
              (keyup)="calcularValores()"
              type="number"
              class="form-control"
              name="valorPagado"
              id="field_valorPagado"
              data-cy="valorPagado"
              formControlName="valorPagado"
            />
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 form-group">
            <label class="form-control-label text-black" jhiTranslate="preciadoTattoApp.citaPerforacion.valorDeuda" for="field_valorDeuda"
              >Valor Deuda</label
            >
            <input
              readonly="true"
              type="number"
              class="form-control"
              name="valorDeuda"
              id="field_valorDeuda"
              data-cy="valorDeuda"
              formControlName="valorDeuda"
            />
          </div>

          <div class="col-md-6 form-group">
            <label class="form-control-label text-black" jhiTranslate="preciadoTattoApp.citaPerforacion.estado" for="field_estado"
              >Estado</label
            >
            <input
              readonly="true"
              type="text"
              class="form-control"
              name="estado"
              id="field_estado"
              data-cy="estado"
              formControlName="estado"
            />
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-dark aqua-text" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-dark aqua-text"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
