<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="ventas">
      <h2 data-cy="ventasDetailsHeading"><span class="aqua-text" jhiTranslate="preciadoTattoApp.ventas.detail.title">Ventas</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details color-toggle">
        <dt><span class="text-black" jhiTranslate="preciadoTattoApp.ventas.fechaCreacion">Fecha Creacion</span></dt>
        <dd>
          <span class="text-black">{{ ventas.fechaCreacion | formatMediumDate }}</span>
        </dd>
        <dt><span class="text-black" jhiTranslate="preciadoTattoApp.ventas.valorVenta">Valor Venta</span></dt>
        <dd>
          <span class="text-black">{{ ventas.valorVenta }}</span>
        </dd>
        <dt><span class="text-black" jhiTranslate="preciadoTattoApp.ventas.valorPagado">Valor Pagado</span></dt>
        <dd>
          <span class="text-black">{{ ventas.valorPagado }}</span>
        </dd>
        <dt><span class="text-black" jhiTranslate="preciadoTattoApp.ventas.valorDeuda">Valor Deuda</span></dt>
        <dd>
          <span class="text-black">{{ ventas.valorDeuda }}</span>
        </dd>
        <dt><span class="text-black" jhiTranslate="preciadoTattoApp.ventas.estado">Estado</span></dt>
        <dd>
          <span class="text-black">{{ ventas.estado }}</span>
        </dd>
      </dl>

      <div *ngIf="ventas.productosSeleccionados && ventas.productosSeleccionados.length > 0" class="row">
        <table
          class="table responsive color-toggle text-black"
          *ngIf="ventas.productosSeleccionados && ventas.productosSeleccionados.length > 0"
        >
          <thead class="thead-dark">
            <tr>
              <th scope="col">Producto</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Precio</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let producto of ventas.productosSeleccionados">
              <td>{{ producto.nombre }}</td>
              <td>{{ producto.cantidad }}</td>
              <td>{{ producto.precio }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <button type="submit" (click)="previousState()" class="btn btn-dark aqua-text" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/ventas', ventas.id, 'edit']" class="btn btn-dark aqua-text">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
