<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="citaTatto">
      <h2 data-cy="citaTattoDetailsHeading">
        <span class="aqua-text" jhiTranslate="preciadoTattoApp.citaTatto.detail.title">Cita Tatto</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details color-toggle">
        <dt><span class="text-black" jhiTranslate="preciadoTattoApp.citaTatto.idCliente">Id Cliente</span></dt>
        <dd>
          <span class="text-black">{{ citaTatto.nombreCliente }}</span>
        </dd>
        <dt><span class="text-black" jhiTranslate="preciadoTattoApp.citaTatto.fechaCreacion">Fecha Creacion</span></dt>
        <dd>
          <span class="text-black">{{ citaTatto.fechaCreacion | formatMediumDatetime }}</span>
        </dd>
        <dt><span class="text-black" jhiTranslate="preciadoTattoApp.citaTatto.fechaCita">Fecha Cita</span></dt>
        <dd>
          <span class="text-black">{{ citaTatto.fechaCita | formatMediumDatetime }}</span>
        </dd>
        <dt><span class="text-black" jhiTranslate="preciadoTattoApp.citaTatto.hora">Hora</span></dt>
        <dd>
          <span class="text-black" class="text-black">{{ citaTatto.hora }}</span>
        </dd>
        <dt><span class="text-black" jhiTranslate="preciadoTattoApp.citaTatto.emailCliente">Email Cliente</span></dt>
        <dd>
          <span class="text-black">{{ citaTatto.emailCliente }}</span>
        </dd>
        <dt><span class="text-black" jhiTranslate="preciadoTattoApp.citaTatto.fotoDiseno">Foto Diseno</span></dt>
        <dd>
          <div *ngIf="citaTatto.fotoDiseno" class="text-black">
            <a class="text-black" (click)="openFile(citaTatto.fotoDiseno, citaTatto.fotoDisenoContentType)">
              <img
                [src]="'data:' + citaTatto.fotoDisenoContentType + ';base64,' + citaTatto.fotoDiseno"
                style="max-width: 100%"
                alt="citaTatto image"
              />
            </a>
            {{ citaTatto.fotoDisenoContentType }}, {{ byteSize(citaTatto.fotoDiseno) }}
          </div>
        </dd>
        <dt><span class="text-black" jhiTranslate="preciadoTattoApp.citaTatto.valorTatto">Valor Tatto</span></dt>
        <dd>
          <span class="text-black">{{ citaTatto.valorTatto }}</span>
        </dd>
        <dt><span class="text-black" jhiTranslate="preciadoTattoApp.citaTatto.valorPagado">Valor Pagado</span></dt>
        <dd>
          <span class="text-black">{{ citaTatto.valorPagado }}</span>
        </dd>
        <dt><span class="text-black" jhiTranslate="preciadoTattoApp.citaTatto.deuda">Deuda</span></dt>
        <dd>
          <span class="text-black">{{ citaTatto.deuda }}</span>
        </dd>
        <dt><span class="text-black" jhiTranslate="preciadoTattoApp.citaTatto.estado">Estado</span></dt>
        <dd>
          <span class="text-black">{{ citaTatto.estado }}</span>
        </dd>
        <dt><span class="text-black" jhiTranslate="preciadoTattoApp.citaTatto.descripcion">Descripcion</span></dt>
        <dd>
          <span class="text-black">{{ citaTatto.descripcion }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/cita-tatto', citaTatto.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
