<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="citaTatto">
      <h2 data-cy="citaTattoDetailsHeading">
        <span class="aqua-text" jhiTranslate="preciadoTattoApp.citaTatto.detail.title">Cita Tatto</span>
        <div class="d-flex justify-content-end"></div>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details color-toggle">
        <dt><span class="text-black">Cliente</span></dt>
        <dd>
          <span class="text-black">{{ citaTatto.infoCliente }}</span>
        </dd>
        <dt><span class="text-black" jhiTranslate="preciadoTattoApp.citaTatto.fechaCreacion">Fecha Creacion</span></dt>
        <dd>
          <span class="text-black">{{ citaTatto.fechaCreacion | formatMediumDatetime }}</span>
        </dd>
        <dt><span class="text-black" jhiTranslate="preciadoTattoApp.citaTatto.fechaCita">Fecha Cita</span></dt>
        <dd>
          <span class="text-black">{{ citaTatto.fechaCita | formatMediumDatetime }}</span>
        </dd>
        <dt><span class="text-black" jhiTranslate="preciadoTattoApp.citaTatto.hora">Hora</span></dt>
        <dd>
          <span class="text-black" class="text-black">{{ citaTatto.hora }}</span>
        </dd>
        <dt><span class="text-black" jhiTranslate="preciadoTattoApp.citaTatto.emailCliente">Email Cliente</span></dt>
        <dd>
          <span class="text-black">{{ citaTatto.emailCliente }}</span>
        </dd>
        <dt><span class="text-black" jhiTranslate="preciadoTattoApp.citaTatto.fotoDiseno">Foto Diseno</span></dt>
        <dd>
          <div *ngIf="citaTatto.fotoDiseno" class="text-black">
            <a class="text-black" (click)="openFile(citaTatto.fotoDiseno, citaTatto.fotoDisenoContentType)">
              <img
                [src]="'data:' + citaTatto.fotoDisenoContentType + ';base64,' + citaTatto.fotoDiseno"
                style="max-width: 100%"
                alt="citaTatto image"
              />
            </a>
            {{ citaTatto.fotoDisenoContentType }}, {{ byteSize(citaTatto.fotoDiseno) }}
          </div>
        </dd>
        <dt><span class="text-black" jhiTranslate="preciadoTattoApp.citaTatto.valorTatto">Valor Tatto</span></dt>
        <dd>
          <span class="text-black">{{ citaTatto.valorTatto }}</span>
        </dd>
        <dt><span class="text-black">Hora Inicio</span></dt>
        <dd>
          <span class="text-black">{{ citaTatto.horaInicio }}</span>
        </dd>
        <dt><span class="text-black">Hora Fin</span></dt>
        <dd>
          <span class="text-black">{{ citaTatto.horaFin }}</span>
        </dd>
        <dt><span class="text-black" jhiTranslate="preciadoTattoApp.citaTatto.valorPagado">Valor Pagado</span></dt>
        <dd>
          <span class="text-black">{{ citaTatto.valorPagado }}</span>
        </dd>
        <dt style="margin-left: 10px">
          <span class="text-black" jhiTranslate="preciadoTattoApp.citaTatto.deuda">Deuda</span>
          <div class="btn-group">
            <button
              *ngIf="citaTatto.deuda! > 0"
              (click)="parametroHacerAbono(citaTatto.id!)"
              type="button"
              class="btn btn-dark aqua-text btn-sm"
            >
              <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Abonar</span>
            </button>
          </div>
        </dt>
        <dd>
          <span class="text-black">{{ citaTatto.deuda }}</span>
        </dd>
        <dt><span class="text-black" jhiTranslate="preciadoTattoApp.citaTatto.estado">Estado</span></dt>
        <dd>
          <span class="text-black">{{ citaTatto.estado }}</span>
        </dd>
        <dt><span class="text-black" jhiTranslate="preciadoTattoApp.citaTatto.descripcion">Descripcion</span></dt>
        <dd>
          <span class="text-black">{{ citaTatto.descripcion }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-dark aqua-text" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/cita-tatto', citaTatto.id, 'edit']" class="btn btn-dark aqua-text">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
      <button (click)="parametroVerAbono(citaTatto.id!)" type="button" class="btn btn-dark aqua-text">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Consultar Abonos</span>
      </button>
    </div>
  </div>
</div>
