<div style="height: 700px">
  <h2 id="page-heading" data-cy="CajaIngresosHeading">
    <span class="aqua-text" jhiTranslate="preciadoTattoApp.cajaIngresos.home.title">Caja Ingresos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-dark aqua-text mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="preciadoTattoApp.cajaIngresos.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-dark aqua-text jh-create-entity create-caja-ingresos"
        [routerLink]="['/caja-ingresos/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="preciadoTattoApp.cajaIngresos.home.createLabel"> Create a new Caja Ingresos </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>
  <div class="d-flex justify-content-center mb-2">
    <button [routerLink]="['/caja-ingresos/caja-ing-fecha']" class="btn btn-dark aqua-text mr-2">
      <mat-icon style="position: relative; top: 7px">find_in_page</mat-icon>
      <span>Consultar Caja mensual</span>
    </button>
    <button (click)="generarReporteIngreso()" class="btn btn-dark aqua-text mr-2">
      <mat-icon style="position: relative; top: 7px">picture_as_pdf</mat-icon>
      <span>Generar Reporte Mensual (PDF)</span>
    </button>
  </div>

  <div class="alert-back" id="no-result" *ngIf="cajaIngresos?.length === 0">
    <span style="color: #000" jhiTranslate="preciadoTattoApp.cajaIngresos.home.notFound">No cajaIngresos found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="cajaIngresos && cajaIngresos.length > 0">
    <table class="table table-dark color-toggle" aria-describedby="page-heading">
      <thead>
        <tr>
          <th class="text-black" scope="col">
            <span jhiTranslate="preciadoTattoApp.cajaIngresos.valorVendidoDia">Valor Vendido Dia</span>
          </th>
          <th class="text-black" scope="col">
            <span jhiTranslate="preciadoTattoApp.cajaIngresos.valorRegistradoDia">Valor Registrado Dia</span>
          </th>
          <th class="text-black" scope="col"><span jhiTranslate="preciadoTattoApp.cajaIngresos.diferencia">Diferencia</span></th>
          <th class="text-black" scope="col"></th>
        </tr>
      </thead>
      <tbody style="background: radial-gradient(rgba(0, 255, 255, rgba(255, 255, 255, 0.474) 7), white)">
        <tr
          *ngFor="let cajaIngresos of cajaIngresos | paginate: { itemsPerPage: 5, currentPage: pA }; trackBy: trackId"
          data-cy="entityTable"
        >
          <td class="text-black">{{ cajaIngresos.valorVendidoDia }}</td>
          <td class="text-black">{{ cajaIngresos.valorRegistradoDia }}</td>
          <td class="text-black">{{ cajaIngresos.diferencia }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/caja-ingresos', cajaIngresos.id, 'view']"
                class="btn btn-dark aqua-text btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/caja-ingresos', cajaIngresos.id, 'edit']"
                class="btn btn-dark aqua-text btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(cajaIngresos)" class="btn btn-dark aqua-text btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls style="text-align: center" (pageChange)="pA = $event"></pagination-controls>
  </div>
</div>
