<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-abono-heading" data-cy="AbonoCreateUpdateHeading" jhiTranslate="preciadoTattoApp.abono.home.createOrEditLabel">
        Create or edit a Abono
      </h2>

      <!-- <div class="col-md-6 form-group">
            <label class="form-control-label" jhiTranslate="preciadoTattoApp.abono.fechaAbono" for="field_fechaAbono">Fecha Abono</label>
            <div class="d-flex">
              <input
                id="field_fechaAbono"
                data-cy="fechaAbono"
                type="datetime-local"
                class="form-control"
                name="fechaAbono"
                formControlName="fechaAbono"
                placeholder="YYYY-MM-DD HH:mm"
              />
            </div>
          </div> -->
      <div class="d-flex justify-content-center">
        <div class="row">
          <div class="col-md-6 form-group">
            <label class="form-control-label" for="field_valorAbono">Valor Deuda</label>
            <input class="form-control" type="number" readonly="true" name="deuda" id="deuda" data-cy="deuda" formControlName="deuda" />
          </div>

          <div class="col-md-6 form-group">
            <label class="form-control-label" jhiTranslate="preciadoTattoApp.abono.valorAbono" for="field_valorAbono">Valor Abono</label>
            <input
              type="number"
              class="form-control"
              name="valorAbono"
              id="field_valorAbono"
              data-cy="valorAbono"
              formControlName="valorAbono"
              (keyup)="calcularDescuentos()"
              (keyup)="restarAbono()"
            />

            <div style="margin-top: 5px" *ngIf="consultarCitaPerf && valorCaja > 0 && valorMafe > 0">
              <table>
                <thead class="table-dark">
                  <th class="aqua-text">Valor Destinado Caja</th>
                  <th class="aqua-text">Ganancia Maria Fernanda</th>
                </thead>
                <tbody style="background-color: white">
                  <td style="color: black">{{ valorCaja }}</td>
                  <td style="color: black">{{ valorMafe }}</td>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <jhi-alert-error></jhi-alert-error>
      <jhi-alert style="text-align: center"></jhi-alert>
      <div class="d-flex justify-content-center">
        <button
          style="margin-right: 10px"
          type="button"
          id="cancel-save"
          data-cy="entityCreateCancelButton"
          class="btn btn-dark aqua-text"
          (click)="previousState()"
        >
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving || desBoton"
          class="btn btn-dark aqua-text"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
