<div style="height: 700px">
  <h2 id="page-heading" data-cy="ComprasHeading">
    <span class="aqua-text" jhiTranslate="preciadoTattoApp.compras.home.title">Compras</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="preciadoTattoApp.compras.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-compras"
        [routerLink]="['/compras/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="preciadoTattoApp.compras.home.createLabel"> Create a new Compras </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert-back" id="no-result" *ngIf="compras?.length === 0">
    <span style="color: #000" jhiTranslate="preciadoTattoApp.compras.home.notFound">No compras found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="compras && compras.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="preciadoTattoApp.compras.fechaCreacion">Fecha Creacion</span></th>
          <th scope="col"><span jhiTranslate="preciadoTattoApp.compras.valorCompra">Valor Compra</span></th>
          <th scope="col"><span jhiTranslate="preciadoTattoApp.compras.valorPagado">Valor Pagado</span></th>
          <th scope="col"><span jhiTranslate="preciadoTattoApp.compras.valorDeuda">Valor Deuda</span></th>
          <th scope="col"><span jhiTranslate="preciadoTattoApp.compras.estado">Estado</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let compras of compras; trackBy: trackId" data-cy="entityTable">
          <td>{{ compras.fechaCreacion | formatMediumDatetime }}</td>
          <td>{{ compras.valorCompra }}</td>
          <td>{{ compras.valorPagado }}</td>
          <td>{{ compras.valorDeuda }}</td>
          <td>{{ compras.estado }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/compras', compras.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/compras', compras.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(compras)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
