<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="compras">
      <h2 data-cy="comprasDetailsHeading"><span class="aqua-text" jhiTranslate="preciadoTattoApp.compras.detail.title">Compras</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details color-toggle">
        <dt class="text-black"><span jhiTranslate="preciadoTattoApp.compras.fechaCreacion">Fecha Creacion</span></dt>
        <dd>
          <span class="text-black">{{ compras.fechaCreacion | formatMediumDatetime }}</span>
        </dd>
        <dt><span class="text-black" jhiTranslate="preciadoTattoApp.compras.valorCompra">Valor Compra</span></dt>
        <dd>
          <span class="text-black">{{ compras.valorCompra }}</span>
        </dd>
        <dt><span class="text-black" jhiTranslate="preciadoTattoApp.compras.valorPagado">Valor Pagado</span></dt>
        <dd>
          <span class="text-black">{{ compras.valorPagado }}</span>
        </dd>
        <dt><span class="text-black" jhiTranslate="preciadoTattoApp.compras.valorDeuda">Valor Deuda</span></dt>
        <dd>
          <span class="text-black">{{ compras.valorDeuda }}</span>
        </dd>
        <dt><span class="text-black" jhiTranslate="preciadoTattoApp.compras.estado">Estado</span></dt>
        <dd>
          <span class="text-black">{{ compras.estado }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/compras', compras.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
