<div class="row justify-content-center">
  <div class="col-8">
    <form style="padding: 31px" name="editForm" role="form" class="color-toggle" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-caja-tattos-heading"
        data-cy="CajaTattosCreateUpdateHeading"
        jhiTranslate="preciadoTattoApp.cajaTattos.home.createOrEditLabel"
        class="text-black"
      >
        Create or edit a Caja Tattos
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>
        <jhi-alert></jhi-alert>

        <div class="row">
          <div class="col-md-6 form-group">
            <label class="form-control-label text-black" jhiTranslate="preciadoTattoApp.cajaTattos.valorTattoDia" for="field_valorTattoDia"
              >Valor Tatto Dia</label
            >
            <input
              readonly="true"
              type="number"
              class="form-control"
              name="valorTattoDia"
              id="field_valorTattoDia"
              data-cy="valorTattoDia"
              formControlName="valorTattoDia"
            />
          </div>

          <div class="col-md-6 form-group">
            <label
              class="form-control-label text-black"
              jhiTranslate="preciadoTattoApp.cajaTattos.valorRegistrado"
              for="field_valorRegistrado"
              >Valor Registrado</label
            >
            <input
              (keyup)="calcularDiferencia()"
              type="number"
              class="form-control"
              name="valorRegistrado"
              id="field_valorRegistrado"
              data-cy="valorRegistrado"
              formControlName="valorRegistrado"
            />
          </div>
        </div>

        <div>
          <div style="margin-left: 326px" class="col-md-6 form-group">
            <label class="form-control-label text-black" jhiTranslate="preciadoTattoApp.cajaTattos.diferencia" for="field_diferencia"
              >Diferencia</label
            >
            <input
              readonly="true"
              type="number"
              class="form-control"
              name="diferencia"
              id="field_diferencia"
              data-cy="diferencia"
              formControlName="diferencia"
            />
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-dark aqua-text" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving || saving"
          class="btn btn-dark aqua-text"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>

<ng-template #mensajeInicio>
  <div class="modal-header color-toggle">
    <h4 class="modal-title text-black">Advertencia</h4>
  </div>
  <div class="modal-body">
    <div>Para crear una caja debe existir por lo menos una venta durante el dia<br />de lo contrario no se podra crear una caja.</div>
  </div>
  <div class="modal-footer color-toggle text-black">
    <h4>Steven Preciado Tattoo</h4>
  </div>
</ng-template>
