<div class="row">
  <div class="col-md-3">
    <span style="margin-bottom: -67px" class="tattoo img-fluid rounded"></span>

    <ul class="list-group">
      <li class="list-group-item disabled">
        <h3>Redes Sociales Preciado Tattoo</h3>
      </li>

      <li class="list-group-item">
        <a style="color: rgb(7, 238, 238)" href="https://www.facebook.com/stivenpreciado2000" target="_blank" rel="noopener noreferrer"
          >Facebook PreciadoTattoo</a
        >
      </li>

      <li class="list-group-item">
        <a
          style="color: rgb(7, 238, 238)"
          href="https://www.instagram.com/preciadotattoo/?hl=es-la"
          target="_blank"
          rel="noopener noreferrer"
          >Instagram PreciadoTattoo</a
        >
      </li>
      <li class="list-group-item">
        <a
          style="color: rgb(7, 238, 238)"
          href="https://www.instagram.com/preciadoink_studio/?hl=es-la"
          target="_blank"
          rel="noopener noreferrer"
          >Preciado Estudio</a
        >
      </li>
    </ul>
  </div>

  <div class="col-md-9">
    <h1 style="background: #2c2c2c" class="display-4 aqua-text">
      <span jhiTranslate="home.title">Welcome Java Hipster!</span> Preciado Tattoo
    </h1>

    <p style="background: #2c2c2c" class="lead aqua-text" jhiTranslate="home.subtitle">This is your homepage</p>

    <div [ngSwitch]="account !== null">
      <!--
      <div class="alert-back" *ngSwitchCase="true">
        <span
          class="text-black"
          id="home-logged-message"
          *ngIf="account"
          jhiTranslate="home.logged.message"
          [translateValues]="{ username: account.login }"
          >You are logged in as user "{{ account.login }}".</span
        >
      </div>
      -->
      <div class="alert-back" *ngSwitchCase="false">
        <span class="text-black" jhiTranslate="global.messages.info.authenticated.prefix">If you want to </span>
        <a class="alert-back text-black" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign in</a
        ><span class="text-black" jhiTranslate="global.messages.info.authenticated.suffix"
          >, you can try the default accounts:<br />- Administrator (login="admin" and password="admin") <br />- User (login="user" and
          password="user").</span
        >
      </div>

      <div class="alert-back" *ngSwitchCase="false">
        <span class="text-black" jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>&nbsp;
        <a class="alert-back text-black" routerLink="account/register" jhiTranslate="global.messages.info.register.link"
          >Register a new account</a
        >
      </div>
    </div>

    <div [ngSwitch]="account !== null">
      <div *ngSwitchCase="true" class="d-flex justify-content-center">
        <button (click)="refrescar()" class="btn btn-dark aqua-text">Refrescar Pantalla</button>
      </div>
    </div>

    <div [ngSwitch]="account !== null" style="display: flex; justify-content: space-between">
      <div *ngSwitchCase="true">
        <div class="list-group">
          <span style="background-color: rgb(22, 181, 173); text-align: center" class="text-black">Citas Tattos del dia de hoy</span>
          <span *ngIf="citasTatto?.length === 0" style="background-color: rgb(8, 38, 36); text-align: center"
            >No hay citas registradas para hoy.</span
          >
          <table *ngIf="citasTatto && citasTatto.length > 0" class="table table-dark table-striped">
            <thead>
              <th scope="col">Cliente</th>
              <th scope="col">Hora</th>
              <th scope="col">Valor</th>
              <th scope="col">Deuda</th>
              <th scope="col">Opciones</th>
            </thead>
            <tbody>
              <tr *ngFor="let citaTatto of citasTatto">
                <td>{{ citaTatto.infoCliente }}</td>
                <td>{{ citaTatto.hora }}</td>
                <td>{{ citaTatto.valorTatto }}</td>
                <td>{{ citaTatto.deuda }}</td>
                <td class="text-right">
                  <div class="btn-group">
                    <button
                      type="submit"
                      [routerLink]="['/cita-tatto', citaTatto.id, 'view']"
                      class="btn btn-dark aqua-text btn-sm"
                      data-cy="entityDetailsButton"
                    >
                      <fa-icon icon="eye"></fa-icon>
                      <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <button [routerLink]="['/cita-tatto']" class="btn btn-dark p-2 aqua-text">Ver citas</button>
        </div>
      </div>

      <div *ngSwitchCase="true">
        <div class="list-group">
          <span style="background-color: rgb(22, 181, 173); text-align: center" class="text-black">Citas Perforaciones del dia de hoy</span>
          <span *ngIf="citasPerfo?.length === 0" style="background-color: rgb(8, 38, 36); text-align: center"
            >No hay citas registradas para el dia de hoy</span
          >
          <table *ngIf="citasPerfo && citasPerfo.length > 0" class="table table-dark table-striped">
            <thead>
              <th>Cliente</th>
              <th>Hora</th>
              <th>Valor</th>
              <th>Deuda</th>
              <th>Opciones</th>
            </thead>
            <tbody>
              <tr *ngFor="let cita of citasPerfo">
                <td>{{ cita.nombreCliente }}</td>
                <td>{{ cita.hora }}</td>
                <td>{{ cita.valorPerforacion }}</td>
                <td>{{ cita.valorDeuda }}</td>
                <td class="text-right">
                  <div class="btn-group">
                    <button
                      type="submit"
                      [routerLink]="['/cita-perforacion', cita.id, 'view']"
                      class="btn btn-info btn-sm"
                      data-cy="entityDetailsButton"
                    >
                      <fa-icon icon="eye"></fa-icon>
                      <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <button [routerLink]="['/cita-perforacion']" class="btn btn-dark p-2 aqua-text">Ver citas</button>
        </div>
      </div>
    </div>

    <div [ngSwitch]="account !== null">
      <div *ngSwitchCase="true" class="container-fluid infoVenta">
        <div *ngSwitchCase="true" class="d-flex justify-content-around">
          <button [routerLink]="['/producto/new']" class="btn btn-black">Registrar Producto</button>
          <button [routerLink]="['/ventas/new']" class="btn btn-black">Realizar Venta</button>
          <button [routerLink]="['/compras/new']" class="btn btn-black">Realizar Compra</button>
        </div>
        <ol class="list-group list-group-numbered my-3">
          <li class="list-group-item d-flex justify-content-between align-items-start">
            <div *ngSwitchCase="true" class="ms-2 me-auto">
              <div *ngSwitchCase="true" class="fw-bold aqua-text">Productos</div>
              Haga click en el boton para ir al registor total de productos disponibles
            </div>
            <span class="badge bg-primary rounded-pill">
              <button [routerLink]="['/producto/']" class="btn btn-black">IR</button>
              {{ totalProducts }}</span
            >
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold aqua-text">Ventas</div>
              Haga click en el boton para ir al registro total de ventas realizadas.
            </div>
            <span class="badge bg-primary rounded-pill">
              <button [routerLink]="['/ventas/']" class="btn btn-black">IR</button>{{ totalVenta }}</span
            >
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold aqua-text">Compras</div>
              Haga click en el boton para ir a la lista total de compras registradas.
            </div>
            <span class="badge bg-primary rounded-pill">
              <button [routerLink]="['/compras/']" class="btn btn-black">IR</button>{{ totalCompra }}</span
            >
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
