<div class="row justify-content-center">
  <div class="col-8">
    <form style="padding: 31px" name="editForm" role="form" class="color-toggle" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-cita-tatto-heading"
        data-cy="CitaTattoCreateUpdateHeading"
        jhiTranslate="preciadoTattoApp.citaTatto.home.createOrEditLabel"
        class="text-black"
      >
        Create or edit a Cita Tatto
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>
        <jhi-alert></jhi-alert>

        <div style="margin-left: 0px" class="row">
          <div class="cold-md-8 form-group">
            <label class="form-control-label text-black">Informacion del Cliente</label>
            <input
              type="text"
              name="infoCliente"
              id="infoCliente"
              class="form-control"
              data-cy="infoCliente"
              formControlName="infoCliente"
            />
          </div>

          <div class="col-md-5 form-group">
            <label class="form-control-label text-black" for="field_fechaCita">Fecha de la Cita</label>
            <div class="d-flex">
              <input
                id="field_fechaCita"
                data-cy="fechaCita"
                type="datetime-local"
                class="form-control"
                name="fechaCita"
                formControlName="fechaCita"
                placeholder="YYYY-MM-DD HH:mm"
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 form-group">
            <label class="form-control-label text-black" jhiTranslate="preciadoTattoApp.citaTatto.hora" for="field_hora">Hora</label>
            <input type="text" class="form-control" name="hora" id="field_hora" data-cy="hora" formControlName="hora" />
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 form-group">
            <label class="form-control-label text-black" jhiTranslate="preciadoTattoApp.citaTatto.emailCliente" for="field_emailCliente"
              >Email Cliente</label
            >
            <input
              type="text"
              class="form-control"
              name="emailCliente"
              id="field_emailCliente"
              data-cy="emailCliente"
              formControlName="emailCliente"
            />
          </div>

          <div class="col-md-6 form-group">
            <label class="form-control-label text-black" for="field_fotoDiseno">Foto Diseño</label>
            <div>
              <img
                [src]="'data:' + editForm.get('fotoDisenoContentType')!.value + ';base64,' + editForm.get('fotoDiseno')!.value"
                style="max-height: 100px"
                *ngIf="editForm.get('fotoDiseno')!.value"
                alt="citaTatto image"
              />
              <div *ngIf="editForm.get('fotoDiseno')!.value" class="form-text text-danger clearfix">
                <span class="pull-left"
                  >{{ editForm.get('fotoDisenoContentType')!.value }}, {{ byteSize(editForm.get('fotoDiseno')!.value) }}</span
                >
                <button
                  type="button"
                  (click)="clearInputImage('fotoDiseno', 'fotoDisenoContentType', 'file_fotoDiseno')"
                  class="btn btn-secondary btn-xs pull-right"
                >
                  <fa-icon icon="times"></fa-icon>
                </button>
              </div>
              <input
                type="file"
                id="file_fotoDiseno"
                data-cy="fotoDiseno"
                (change)="setFileData($event, 'fotoDiseno', true)"
                accept="image/*"
                jhiTranslate="entity.action.addimage"
              />
            </div>
            <input
              type="hidden"
              class="form-control"
              name="fotoDiseno"
              id="field_fotoDiseno"
              data-cy="fotoDiseno"
              formControlName="fotoDiseno"
            />
            <input
              type="hidden"
              class="form-control"
              name="fotoDisenoContentType"
              id="field_fotoDisenoContentType"
              formControlName="fotoDisenoContentType"
            />
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 form-group">
            <label class="form-control-label text-black" jhiTranslate="preciadoTattoApp.citaTatto.valorTatto" for="field_valorTatto"
              >Valor Tatto</label
            >
            <input
              type="number"
              class="form-control"
              name="valorTatto"
              id="field_valorTatto"
              data-cy="valorTatto"
              formControlName="valorTatto"
            />
          </div>

          <div class="col-md-6 form-group">
            <label class="form-control-label text-black" jhiTranslate="preciadoTattoApp.citaTatto.valorPagado" for="field_valorPagado"
              >Valor Pagado</label
            >
            <input
              [readOnly]="updateCita"
              (keyup)="calcularValores()"
              type="number"
              class="form-control"
              name="valorPagado"
              id="field_valorPagado"
              data-cy="valorPagado"
              formControlName="valorPagado"
            />
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 form-group">
            <label class="form-control-label text-black" jhiTranslate="preciadoTattoApp.citaTatto.deuda" for="field_deuda">Deuda</label>
            <input
              readonly="true"
              type="number"
              class="form-control"
              name="deuda"
              id="field_deuda"
              data-cy="deuda"
              formControlName="deuda"
            />
          </div>

          <div class="col-md-6 form-group">
            <label class="form-control-label text-black" jhiTranslate="preciadoTattoApp.citaTatto.estado" for="field_estado">Estado</label>
            <input
              readonly="true"
              type="text"
              class="form-control"
              name="estado"
              id="field_estado"
              data-cy="estado"
              formControlName="estado"
            />
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 form-group text-black">
            <label class="form-control-label" jhiTranslate="preciadoTattoApp.citaTatto.descripcion" for="field_descripcion"
              >Descripcion</label
            >
            <textarea
              type="text"
              class="form-control"
              name="descripcion"
              id="field_descripcion"
              data-cy="descripcion"
              formControlName="descripcion"
            >
            </textarea>
          </div>
        </div>
      </div>

      <div dissable="true" class="row">
        <div class="form-group" dissable="true" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div dissable="true" class="col-md-6 form-group">
          <label class="form-control-label text-black" jhiTranslate="preciadoTattoApp.citaTatto.fechaCreacion" for="field_fechaCreacion"
            >Fecha Creacion</label
          >
          <div dissable="true" class="d-flex">
            <input
              dissable="true"
              id="field_fechaCreacion"
              data-cy="fechaCreacion"
              type="datetime-local"
              class="form-control"
              name="fechaCreacion"
              formControlName="fechaCreacion"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving || saving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
